<h1> Index - The foods</h1>
<p>
	<%= link_to 'Back home', '/' %>
</p>
<ul>
	<% @foods.each do |food| %>
		<li><%= link_to (food.name), food_path(food) %>
			<% if food.name.present? %>
						
			<% end %>
		</li>
	<% end %>
</ul>
<p>
	<%= link_to 'New food', new_food_path %>
</p>